## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
*.rbc

## PROJECT::SPECIFIC
nbtfile.gemspec
.idea/.name
.idea/.rakeTasks
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/nbtfile.iml
.idea/workspace.xml
vcs.xml
